<div class="container">
  <h1>Coaches#show</h1>
  <p>Find me in app/views/coaches/show.html.erb</p>


  <%= cl_image_tag @coach.photo.key if @coach.photo.attached? %>
  <% unless @coach.address.nil? %>
  <p><%= @coach.address %></p>
  <% end %>
  <% if current_user == @coach.user %>
    <%= link_to  "Edit", edit_coach_path %>
    <%= link_to  "Delete", coach_path(@coach), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this coach?" } %>
  <% end %>

  <%= link_to  "Book this coach!", new_coach_booking_path(@coach) %>

  <hr>

  <% unless @coach.bookings.empty? %>
    <% if @coach.bookings.first.user == current_user %>
      You've booked this coach.
      <% @coach.bookings.each do |booking| %>
        <p>Booked from <%= booking.start_time.strftime ("%d/%m/%Y") %> until <%= booking.end_time.strftime ("%d/%m/%Y") %> in <%= booking.location %></p>
      <% end %>
    <% end %>
  <% end %>
  <hr>
</div>
